[submodule "_snwc"]
	path = _snwc
	url = https://github.com/nemnesia/symbol-nem-wallet-core.git
[submodule "_nem"]
	path = _nem
	url = https://github.com/NemProject/nem.git
[submodule "_symbol"]
	path = _symbol
	url = https://github.com/symbol/symbol.git
[submodule "_sns"]
	path = _sns
	url = https://github.com/nemnesia/symbol-nem-stack.git
