[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "app.mosaiclynx.mobile",
      "sha256_cert_fingerprints": ["${ANDROID_APP_SIGNING_CERT_SHA256}"]
    }
  }
]
